.Foot {
  margin: 0;
  margin-left: 1339px;
  margin-top: -171px !important;
  z-index: -1;
  font-weight: 500;
  font-size: 15px;
}
.heart {
  margin: 0;
  margin-left: 10px;
}
.blij {
  margin-left: 24px;
}
