:root {
  --background-color: #efebdd;
  --box-color: #b0371c;
  --nav-color: #b3773b;
  --rich-black-textcolor: #010504;
  --independence-color: #445474;
  --var_red_1: #c86048;
  --var_red_2: #d3846b;
  --var_red_3: #dda98e;
  --var_red_4: #e7c6b0;
  --var_red_5: #f4e5dc;

  --title_font: "Noto Sans TC", sans-serif;
  --para_font: "Lato", sans-serif;
  --shadow_1: 6px 6px 9px #00000031, -6px -6px 9px #a3a0a013;
  --shadow-inset: inset 6px 6px 9px #00000031, inset -6px -6px 9px #a3a0a025;
}
.bckgrnd_red_box {
  margin: 0;
  background-color: var(--box-color);
  width: 680px;
  height: 810px;

  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
}
img {
  margin: 0 auto;
  position: absolute;
  left: 55px;
  margin-top: 120px;
}

nav {
  margin: 0;
  margin-top: -813px;
  margin-left: 620px;
  padding: 4px 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
}

nav li {
  list-style-type: none;
  display: inline;
  overflow: hidden;
  margin: 10px;
  padding: 65px;
  font-size: 2.1rem;
  font-weight: 900;
}
nav li a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: var(--nav-color);
  font-family: var(--title_font);
  font-weight: 500;
}

a:hover {
  color: var(--var_red_1);
  font-size: 110%;
}
a:active {
  color: var(--box-color);
  font-size: 110%;
}
/* a visted */

.title {
  font-family: var(--title_font);
}
.para {
  font-family: var(--para_font);
}

@media screen and (max-width: 800px) {
  .nav li a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .bckgrnd_red_box {
    float: center;
    top: 0;
    width: 150%;
  }
}
